:root {
  --theme: rgb(99, 102, 241);
  --bgPrimary: rgb(2 6 23);
  --bgSecondary: rgb(15 23 42);
  --textPrimary: rgb(238, 242, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  color: var(--textPrimary);
  background-color: var(--bgPrimary);
}

html {
  font-size: 1rem;
}

@media ((min-width: 1920px) and (max-width: 3839px)) {
  html {
    font-size: 1.5rem;
  }
}

@media ((min-width: 3840px)) {
  html {
    font-size: 3rem;
  }
}

::-webkit-scrollbar {
  width: .25rem;
  background-color: var(--bgPrimary);
  scrollbar-gutter: stable;
}

::-webkit-scrollbar-thumb {
  background-color: var(--theme);
}